<template>
  <div id="app">
    <Welcome @in_game="joined_a_game" v-if="!joined_a_game"></Welcome>
    <GameBoard 
      :socket="socket" :room="room_uuid" v-else></GameBoard>
    <div>Connected: {{is_connected}}</div>
    <div v-if="joined_a_game">Game Room Code: {{room_code}}
      <a id="invite" @click="copyLink" class="btn btn-sm btn-success" v-if="room_code"> Invite </a> 
    </div>
  </div>
</template>

<script>
import GameBoard from './components/GameBoard'
import Welcome from "./components/welcome"
import IO from 'socket.io-client'
import { mapGetters } from 'vuex'
import URL from './main.js'

export default {
  name: 'App',
  components: {
    GameBoard, Welcome
  },
  computed: {
    ...mapGetters([
      'is_connected',
      'joined_a_game',
      'room_code',
      'player',
      'player_id',
      'players',
      'room'
    ]),
    url () {
      console.log(this.room)
      if (this.room_code) {
        return window.location.href +'?roomid=' + this.room
      }
      return null
    }
  },
  data () {
    return {
      socket: null,
      joined_game: false,
      room_uuid: '',
      joined: '',
    }
  },
  created() {
    console.log('URL: ', URL)
    this.socket = IO(URL)
    this.$store.dispatch('connect', this.socket)
    this.$store.dispatch('InitializeUser', this.socket)
    this.socket.on('game_update', obj => {
      console.log('Update:', obj)
      this.$store.dispatch('update_game', obj.game)
      if ('player' in obj) {
        this.$store.dispatch('update_player', obj.player)       
      }
      else {
        let current_player = obj.game.players.find(p=> {
          return p.id === this.player_id
        })
        if (current_player !== undefined){
          this.$store.dispatch('update_player', current_player)       
        }
      }
    })
    this.socket.on('new-player', player => {
      this.$store.dispatch('new_player', player)
    })
    this.socket.on('new_round', () => {
      this.$store.dispatch('new_round')
    })
    this.socket.on('winner-winner', obj => {
      this.$store.dispatch('winner', obj)
    })
  },
  methods: {
    copyLink() {
      var dummy = document.createElement("textarea");
      document.body.appendChild(dummy);
      dummy.value = this.url;
      dummy.select();
      document.execCommand("copy");
      document.body.removeChild(dummy);
      var elem = document.getElementById('invite');
      elem.innerHTML = 'Copied'
      setTimeout(function (){
        var elem = document.getElementById('invite');
        elem.innerHTML = 'Invite'
      }, 1000);
    }
  },
}
</script>

<style>
html, body {
  height: 100%;
  width: 100%;
  background: #ddd;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.gameboard {
  background: white;
  max-height: 100% !important;
  overflow: auto;
}
.card {
  min-height: 8rem !important;
  max-height: 8rem !important;
  max-width: 8rem !important;
  min-width: 8rem !important;
}
.gallery, .hand {
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 5px;
  min-height: 9.5rem;
  margin-bottom: 15px;
}
.card-header div {
  font-size: .5rem;
}
.card-deck .card {
  margin-left: 10px;
  margin-right: 10px;
}
.card.backend.bg-light.text-dark:first-of-type {
    margin-left: 15px;
}
p.card-text {
    font-size: x-small;
}
.card .fixed-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2rem;
    padding: 0;
}
.card-body {
  padding: 0.25rem !important;
}
.card-footer.fixed-bottom button.btn.btn-secondary {
    background: green;
    height: 1.25rem;
    top: 0;
    font-size: s;
    line-height: 0;
    padding: 5px;
    margin: .4rem;
}
.gallery-col:hover {
  background: #e5e5e5 !important;
}
.player {
    width: 6em;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    float:left;
    margin: 3px;
    min-height: 3em;
    max-height: 3em;
    margin-bottom: 8px;
    margin-top: 8px;
}
#invite {
    margin-left: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
</style>