<template>
  <div>
    <b-card
      class="front"
      v-if="flipped"
      :bg-variant="coloring()['bg']"
      :text-variant="coloring()['text']"
    >
      <b-card-text  v-html="args.text">
      </b-card-text>
      <b-card-footer class='fixed-bottom' v-if='!is_reader && selectable'>
        <b-btn size='sm' @click="selected">Use</b-btn>
      </b-card-footer>
    </b-card>
    <b-card
      header="Cards Against Humanity"
      class="backend"
      :bg-variant="coloring()['bg']"
      :text-variant="coloring()['text']"
      @click="flip"
      v-else
    >
      <b-card-text>
      </b-card-text>
    </b-card>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Card',
  props: [
    'args', 
    'player',
    'type', 
    'selectable', 
    'readerflipped',
    'flipable'
  ],
  data() {
    return {
      flipped: false,
    }
  },
  methods: {
    flip () {
        if (this.flipable){
          this.flipped = !this.flipped
        }
    },
    coloring () {
      if (this.type == 'black') {
        return {'bg': "dark", text:'white'}
      }
      return {'bg': 'light', text:'dark'}
    },
    selected() {
      this.$emit("selected", this.args.id)
    }
  },
  computed: {
      ...mapGetters([ 'is_reader', 'room' ]),
    deck_name () {
      if (this.args === null |this.args === undefined) {
        return ''
      }
      if ((this.args.deck_name !== undefined) && (this.args.deck_name !== null)) {
        return this.args.deck_name
      }
      return ''
    },
  }
}
</script>