<template>
  <b-container class='gameboard'>
    <b-row>
      <b-container>
        <h3 v-if="player == ''" class='text-center'>Welcome to CAH</h3>
        <h3 v-else class='text-center'>Welcome {{player.name}}, to CAH!</h3>
      </b-container>
    </b-row>
    <b-row>
      <b-col sm='12'>
        <b-row>
          <b-col md='3' sm='4'>
            <Card :flipable="true" :args="black_card" type="black"></Card>
          </b-col>    
          <b-col md='5' sm='8'>
            <Player 
              v-for="player in players" 
              :key="player.id" :args="player">
            </Player>
             <div @click="spawn_bot" v-show="players.length > 1 && players.length < 6 && is_host" class="player">
              Add Bot
             </div>
          </b-col>
          <b-col md='4' sm='12'>      
            <b-row v-if="is_host"><b-btn @click="endGame" size="sm">End Game</b-btn></b-row>
            <b-row v-else><b-btn @click="leave_game" size="sm">Leave Game</b-btn></b-row>
            <b-row v-show="waiting_on.length > 0">Still waiting for:</b-row>
            <b-container v-show="waiting_on.length > 0" v-if="!is_reader" class="waiting_on">
              <b-row v-for="p in waiting_on" :key="'waiting-on-'+p.id">
                <div v-if="p.name.length === 0"> Player Number: {{p.player_number}}</div>
                <div v-else>Player {{p.player_number}} - {{p.name}}</div>
              </b-row>
            </b-container>
            <b-row v-else>{{waiting_on.length}} players</b-row>
          </b-col>
        </b-row>
        <b-row class="gallery mt-2">
          <b-card-group>
            <b-col class="gallery-col" v-show="canFlip" v-for="p in gallery" :key="'gal-'+p.player.id">
              <GalleryCard 
                class="mt-1"
                type='gallery'
                :player='p'
                :useable="false"
                :selectable="false"
                :flipped="p.flipped"
                :flipable="canFlip"
                v-for='card in p.cards'
                @selected="selected"
                :args="card" :key="card.id"></GalleryCard>
                <b-btn size="sm" @click="winnerSelected(p.id)" variant="primary" v-if="is_reader">
                  Winner!
                </b-btn>
            </b-col>
          </b-card-group>
        </b-row>
        <b-row class="hand mt-2">
          <b-card-group deck>
            <Card 
              class="mt-1"
              type='hand'
              :selectable="isSelectable()"
              :flipable="true"
              v-for='card in player.hand'
              @selected="selected"
              :args="card" :key="card.id"></Card>
          </b-card-group>
        </b-row>
        <b-row>
        </b-row>
      </b-col>
    </b-row>    
  </b-container>
</template>
<script>
  // import Player from '../assets/Player.js'
  import Player from './Player'
  import Card from './Card'
  import GalleryCard from './GalleryCard'
  import { mapGetters } from 'vuex'
  export default {
    name: 'GameBoard',
    components: {
      Player, Card, GalleryCard
    },
    data() {
      return {
        socket: {},
        modalShow: true
      }
    }, 
    computed: {
      ...mapGetters([
        'need_player_name',
        'is_reader',
        'is_host',
        'room',
        'player', 
        'players',
        'gallery',
        'black_card',
        'current_player_turn',
        'cards_to_play',
        'waiting_on',
        'winner',
      ]), 
      canFlip () {
        if (this.is_reader && this.waiting_on.length === 0) {
          return true
        } else { 
          if (this.waiting_on.length === 0){
            return true
          }
        }
        return false
      }
    },
    methods: {
      isSelectable () {
        if (this.black_card === undefined){
          return false
        }
        if (this.black_card.blank_count > this.cards_to_play.length){
          return true
        }
        return false
      },
      endGame () {
        this.$store.dispatch('endGame')
      },
      leave_game () {
        this.$store.dispatch('leaveGame')
      },
      selected (card_id) {
        let card = this.player.hand.find(c => c.id === card_id)
        card['sort_index'] = this.cards_to_play.length
        this.cards_to_play.push(card)
        this.player.hand = this.player.hand.filter(c => c.id !== card_id)
        if (this.black_card.blank_count === this.cards_to_play.length) {
          let player =  {id:this.player.id, name: this.player.name, number:this.player.player_number, winner:false}
          let obj = {
            player:player, 
            cards:this.cards_to_play, 
            flipped: false,
            room: this.room,
            id: this.player.id
          }
          this.$store.dispatch('card_played', obj)
        }
      },
      winnerSelected (player_id) {
        console.log('Winner ID:', player_id)
        this.$store.dispatch('winner_selected', player_id)
      },
      spawn_bot () {
        console.log('clicked ')
        this.$store.state.socket.emit('spawn_bot', {room: this.room})
      }
    },
  }
</script>
<style>
.waiting_on {
    font-size: smaller;
    height: 5em;
    overflow: auto;
}
</style>