<template>
  <div class="player">
    <span class='player-number'>
      <span class="currently-reading" v-if='current_player_turn === args.player_number'>
        <i class="fa fa-book" aria-hidden="true"></i>
      </span>
      Player - {{args.player_number}} 
      <i v-if="args.main" @click="editName" class="fa fa-cog"> </i>
    </span><br>
    <span class="player-name">{{args.name}}</span><br>
    <span class="player-cards-won"> {{args.cards_won.length}}</span>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Player',
  props: ['args'],
  data() {
    return {
      id: null,
      name: null,
      points: null,
      info: {text:'info'}
    }
  },
  methods: {
    editName () {
      this.$emit('editName', true)
    }
  },
  computed: {
      ...mapGetters([ 
        'is_reader',
        'current_player_turn',
        'player'
      ])
  }
}
</script>
<style>
.player-number {
  font-size: x-small;
  position:relative;
  top: -25px;
}
.player-name {
  position: relative;
  top: -25px;
}
.player-cards-won {
  position: relative;
  top: -30px;
}
span.currently-reading {
    font-size: xx-small;
    color: purple;
}
</style>