<template>
    <b-container>
        <b-row>
            <b-col xs='12' sm='10' md='5'  class="mx-auto">
                <div id="first">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-sm-12 text-center">
                                <h1>Welcome</h1>
                            </div>
                        </div>
                        <div class="logo mb-3">
                            <div class="col-sm-12 text-center">
                                <h5>Cards Against Humanity</h5>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-8 mx-auto">
                            <b-input-group class="mt-3">
                                <b-form-input placeholder="Enter Name" max="4" v-model="name"></b-form-input>
                            </b-input-group>
                        </div>
                        <div class="col-sm-12">
                            <div class="login-or">
                                <hr class="hr-or">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8 text-center mx-auto ">
                            <button
                                @click="create_room" 
                                :disabled='has_name'
                                class=" btn btn-block mybtn btn-primary tx-tfm">Create a Room</button>
                        </div>
                        <div class="col-sm-12">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">or</span>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-8 mx-auto mt-2">
                            <h6>
                                Enter the code below.
                            </h6>
                            <b-input-group class="mt-3">
                                <b-form-input 
                                    max="4" @keyup="existing"
                                    @keyup.enter="join_room"
                                    v-model="code"></b-form-input>
                                <b-input-group-append v-show="exists" >
                                <b-button 
                                    @click="join_room" 
                                    :variant="existing_room"
                                    >Join</b-button>
                                </b-input-group-append>
                                <b-input-group-append v-show="trying" >
                                <b-button 
                                    variant="secondary"
                                    >   
                                    <b-spinner variant="primary" label="Spinning"></b-spinner>
                                    </b-button>
                                </b-input-group-append>
                            </b-input-group>
                            <b-alert class="mt-2" :disabled='has_name' :show='error' variant="danger">The code entered wasn't found.</b-alert>
                            <b-alert class="mt-2" :disabled='is_full' :show='is_full' variant="danger">The room you're trying to enter is full.</b-alert>
                        </div>
                    </div>
                </div>
            </b-col>
		</b-row>
    </b-container>
</template>

<script>

export default {
  name: 'Welcome',
  props: [],
  data() {
    return {
      code: '',
      name: '',
      exists: false,
      trying: false,
      error: false,
      is_full: false
    }
  },
  methods: {
      join_room () {
          this.$store.dispatch("join_a_room", {room: this.code, name: this.name})
      },
      create_room () {
          this.$store.dispatch("create_a_room", {name: this.name})
      },
      existing () {
          if (this.code.length >= 4){
            console.log(this.code)
            this.trying = true
            this.$store.state.socket.emit('check_exiting_game',  {code: this.code})
            this.$store.state.socket.on('game_exists', obj => {
                this.exists = obj.exists
                if (!this.exists) {
                    this.trying = false
                    this.error = true
                    setInterval(() => {
                        this.error = false
                    }, 4000)
                }
                else {
                    this.error = false
                    this.trying = false
                }
            })
            this.$store.state.socket.on('room_full', () => {
                console.log('Room is full')
                this.is_full = true
            })

          }
      }
  },
  computed: {
      existing_room: function() {
          if (this.exists) {
              return 'info'
          }
          return 'disabled'
      },
      has_name: function() {
          if (this.name.length == 0) {
              return true
          }
          return false
      }
  },
  created() {
    //   http://localhost:8080/?roomid=2323424121
    let roomid = new URL(location.href).searchParams.get('roomid')
    console.log('Checking if room is in url')
    if (roomid != undefined) {
        console.log(roomid)
        this.$store.state.socket.emit('get_code', {room: roomid})
    }
    this.$store.state.socket.on('room_code', obj => {
        console.log('recevied cocd')
        this.code = obj
        this.exists = true
    })
  }
}
</script>
<style scoped>
#first {
    padding: 5px;
    background: white;
    border-radius: 10px;
    padding-bottom: 15px;
    margin-top: 10px;
}
</style>
